<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/highlight.tomorrow-night.css">
        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top">

            <a class="navbar-brand" href="{{ baseUrl }}/">
                {{ titleShort|default('The title') }}
                <small class="hidden-xs hidden-sm">
                    {{ subTitle|default('This is the default subtitle!')|raw }}
                </small>
            </a>

        </header>

        <main class="{{ menu ? 'container-fluid' : 'container' }}">
            <div class="row">

                {% if menu is defined %}

                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                        {% for section in menu.sections %}
                            <p class="text-muted">
                                {{ section.name }}
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                {% for itemId, item in section.items %}
                                    <li class="{{ itemId == currentMenu ? 'active' }}">
                                        <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                            {{ item.text|raw }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}

                    </nav>

                {% endif %}

                <section class="{{ menu ? 'col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10' : 'col-sm-12' }}">
                    {{ content|raw }}
                </section>

            </div>
        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yandex.st/highlightjs/7.5/highlight.min.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });
        </script>

<!-- Ticksel analytics v1.0 -->
<script type="text/javascript">
  var _tcfg = _tcfg || [];
  (function() {
    _tcfg.push(["tags", "filegator-io,filegator-io-docs"]);
    var u="https://a.interactive32.com/js/safetick.js"; _tcfg.push(["account_id", 8348834]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
    g.type="text/javascript"; g.async=true; g.src=u; g.setAttribute("crossorigin", "anonymous");
    s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><img src="https://a.interactive32.com/beam?account_id=8348834&referrer=&tags=filegator-io,filegator-io-docs" style="border:0;" width="0" height="0" alt="" /></noscript>
<!-- End Ticksel Code -->

    </body>
</html>
